(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2014 5 22 23 50 43)
   (author "Altium Ltd.")
   (program "Altium Core Generator" (version "Altium Core Generator 1.0.0"))))
   (comment "Core parameters: ")
       (comment "Commandline parameters = |Vendor=Xilinx|DeviceFamily=Spartan3AN|Filename=C:\Users\Daares1\Documents\Dropbox\Pro_Arquitecturas\ProjectOutputs\Default - All Constraints\RAMS_3_8.EDN|Record=NEXUS_CORE|ModuleType=RAM_SinglePortBlock|InferRam=AUTO|ComponentName=RAMS_3_8|ClockEdgeIsRising=Rising|Depth=8|Width=8|RWBehavior=READ_FIRST|EnablePin=True| ")
       (comment "InstanceName = rams_3_8 ")
       (comment "c_family = Spartan3AN ")
       (comment "c_width = 8 ")
       (comment "c_has_we = true ")
       (comment "c_depth = 8 ")
       (comment "c_addr_width = 3 ")
       (comment "c_mem_init_file = dist_8_8.mif ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell AND2 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell FDE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell RAM16X8S (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port WE (direction INPUT))
                   (port WCLK (direction INPUT))
                   (port D0 (direction INPUT))
                   (port D1 (direction INPUT))
                   (port D2 (direction INPUT))
                   (port D3 (direction INPUT))
                   (port D4 (direction INPUT))
                   (port D5 (direction INPUT))
                   (port D6 (direction INPUT))
                   (port D7 (direction INPUT))
                   (port O0 (direction OUTPUT))
                   (port O1 (direction OUTPUT))
                   (port O2 (direction OUTPUT))
                   (port O3 (direction OUTPUT))
                   (port O4 (direction OUTPUT))
                   (port O5 (direction OUTPUT))
                   (port O6 (direction OUTPUT))
                   (port O7 (direction OUTPUT))
                   (port A0 (direction INPUT))
                   (port A1 (direction INPUT))
                   (port A2 (direction INPUT))
                   (port A3 (direction INPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell RAMS_3_8_u2_c0_r0
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port (rename addr_3_ "addr<3>") (direction INPUT))
   (port (rename addr_2_ "addr<2>") (direction INPUT))
   (port (rename addr_1_ "addr<1>") (direction INPUT))
   (port (rename addr_0_ "addr<0>") (direction INPUT))
   (port (rename clk "clk") (direction INPUT))
   (port (rename din_7_ "din<7>") (direction INPUT))
   (port (rename din_6_ "din<6>") (direction INPUT))
   (port (rename din_5_ "din<5>") (direction INPUT))
   (port (rename din_4_ "din<4>") (direction INPUT))
   (port (rename din_3_ "din<3>") (direction INPUT))
   (port (rename din_2_ "din<2>") (direction INPUT))
   (port (rename din_1_ "din<1>") (direction INPUT))
   (port (rename din_0_ "din<0>") (direction INPUT))
   (port (rename en "en") (direction INPUT))
   (port (rename we "we") (direction INPUT))
   (port (rename dout_7_ "dout<7>") (direction OUTPUT))
   (port (rename dout_6_ "dout<6>") (direction OUTPUT))
   (port (rename dout_5_ "dout<5>") (direction OUTPUT))
   (port (rename dout_4_ "dout<4>") (direction OUTPUT))
   (port (rename dout_3_ "dout<3>") (direction OUTPUT))
   (port (rename dout_2_ "dout<2>") (direction OUTPUT))
   (port (rename dout_1_ "dout<1>") (direction OUTPUT))
   (port (rename dout_0_ "dout<0>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND (libraryRef xilinxun))))
   (instance U2
      (viewRef view_1 (cellRef RAM16X8S (libraryRef xilinxun)))
      (property INIT_00 (string "0000"))
      (property INIT_01 (string "0000"))
      (property INIT_02 (string "0000"))
      (property INIT_03 (string "0000"))
      (property INIT_04 (string "0000"))
      (property INIT_05 (string "0000"))
      (property INIT_06 (string "0000"))
      (property INIT_07 (string "0000"))
   )
   (instance U3
      (viewRef view_1 (cellRef AND2 (libraryRef xilinxun)))
   )
   (instance BU4
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU5
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU6
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU7
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU8
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU9
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU10
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU11
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
    )
   )
   (net (rename N2 "addr<3>")
    (joined
      (portRef addr_3_)
      (portRef A3 (instanceRef U2))
    )
   )
   (net (rename N3 "addr<2>")
    (joined
      (portRef addr_2_)
      (portRef A2 (instanceRef U2))
    )
   )
   (net (rename N4 "addr<1>")
    (joined
      (portRef addr_1_)
      (portRef A1 (instanceRef U2))
    )
   )
   (net (rename N5 "addr<0>")
    (joined
      (portRef addr_0_)
      (portRef A0 (instanceRef U2))
    )
   )
   (net (rename N6 "clk")
    (joined
      (portRef clk)
      (portRef WCLK (instanceRef U2))
      (portRef C (instanceRef BU4))
      (portRef C (instanceRef BU5))
      (portRef C (instanceRef BU6))
      (portRef C (instanceRef BU7))
      (portRef C (instanceRef BU8))
      (portRef C (instanceRef BU9))
      (portRef C (instanceRef BU10))
      (portRef C (instanceRef BU11))
    )
   )
   (net (rename N7 "din<7>")
    (joined
      (portRef din_7_)
      (portRef D7 (instanceRef U2))
    )
   )
   (net (rename N8 "din<6>")
    (joined
      (portRef din_6_)
      (portRef D6 (instanceRef U2))
    )
   )
   (net (rename N9 "din<5>")
    (joined
      (portRef din_5_)
      (portRef D5 (instanceRef U2))
    )
   )
   (net (rename N10 "din<4>")
    (joined
      (portRef din_4_)
      (portRef D4 (instanceRef U2))
    )
   )
   (net (rename N11 "din<3>")
    (joined
      (portRef din_3_)
      (portRef D3 (instanceRef U2))
    )
   )
   (net (rename N12 "din<2>")
    (joined
      (portRef din_2_)
      (portRef D2 (instanceRef U2))
    )
   )
   (net (rename N13 "din<1>")
    (joined
      (portRef din_1_)
      (portRef D1 (instanceRef U2))
    )
   )
   (net (rename N14 "din<0>")
    (joined
      (portRef din_0_)
      (portRef D0 (instanceRef U2))
    )
   )
   (net (rename N15 "dout<7>")
    (joined
      (portRef dout_7_)
      (portRef Q (instanceRef BU4))
    )
   )
   (net (rename N16 "dout<6>")
    (joined
      (portRef dout_6_)
      (portRef Q (instanceRef BU5))
    )
   )
   (net (rename N17 "dout<5>")
    (joined
      (portRef dout_5_)
      (portRef Q (instanceRef BU6))
    )
   )
   (net (rename N18 "dout<4>")
    (joined
      (portRef dout_4_)
      (portRef Q (instanceRef BU7))
    )
   )
   (net (rename N19 "dout<3>")
    (joined
      (portRef dout_3_)
      (portRef Q (instanceRef BU8))
    )
   )
   (net (rename N20 "dout<2>")
    (joined
      (portRef dout_2_)
      (portRef Q (instanceRef BU9))
    )
   )
   (net (rename N21 "dout<1>")
    (joined
      (portRef dout_1_)
      (portRef Q (instanceRef BU10))
    )
   )
   (net (rename N22 "dout<0>")
    (joined
      (portRef dout_0_)
      (portRef Q (instanceRef BU11))
    )
   )
   (net (rename N23 "en")
    (joined
      (portRef en)
      (portRef I0 (instanceRef U3))
      (portRef CE (instanceRef BU4))
      (portRef CE (instanceRef BU5))
      (portRef CE (instanceRef BU6))
      (portRef CE (instanceRef BU7))
      (portRef CE (instanceRef BU8))
      (portRef CE (instanceRef BU9))
      (portRef CE (instanceRef BU10))
      (portRef CE (instanceRef BU11))
    )
   )
   (net (rename N24 "we")
    (joined
      (portRef we)
      (portRef I1 (instanceRef U3))
    )
   )
   (net N25
    (joined
      (portRef O (instanceRef U3))
      (portRef WE (instanceRef U2))
    )
   )
   (net N26
    (joined
      (portRef O7 (instanceRef U2))
      (portRef D (instanceRef BU4))
    )
   )
   (net N27
    (joined
      (portRef O6 (instanceRef U2))
      (portRef D (instanceRef BU5))
    )
   )
   (net N28
    (joined
      (portRef O5 (instanceRef U2))
      (portRef D (instanceRef BU6))
    )
   )
   (net N29
    (joined
      (portRef O4 (instanceRef U2))
      (portRef D (instanceRef BU7))
    )
   )
   (net N30
    (joined
      (portRef O3 (instanceRef U2))
      (portRef D (instanceRef BU8))
    )
   )
   (net N31
    (joined
      (portRef O2 (instanceRef U2))
      (portRef D (instanceRef BU9))
    )
   )
   (net N32
    (joined
      (portRef O1 (instanceRef U2))
      (portRef D (instanceRef BU10))
    )
   )
   (net N33
    (joined
      (portRef O0 (instanceRef U2))
      (portRef D (instanceRef BU11))
    )
   )
)))
(cell RAMS_3_8
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port (rename addr_2_ "addr<2>") (direction INPUT))
   (port (rename addr_1_ "addr<1>") (direction INPUT))
   (port (rename addr_0_ "addr<0>") (direction INPUT))
   (port (rename clk "clk") (direction INPUT))
   (port (rename din_7_ "din<7>") (direction INPUT))
   (port (rename din_6_ "din<6>") (direction INPUT))
   (port (rename din_5_ "din<5>") (direction INPUT))
   (port (rename din_4_ "din<4>") (direction INPUT))
   (port (rename din_3_ "din<3>") (direction INPUT))
   (port (rename din_2_ "din<2>") (direction INPUT))
   (port (rename din_1_ "din<1>") (direction INPUT))
   (port (rename din_0_ "din<0>") (direction INPUT))
   (port (rename en "en") (direction INPUT))
   (port (rename we "we") (direction INPUT))
   (port (rename dout_7_ "dout<7>") (direction OUTPUT))
   (port (rename dout_6_ "dout<6>") (direction OUTPUT))
   (port (rename dout_5_ "dout<5>") (direction OUTPUT))
   (port (rename dout_4_ "dout<4>") (direction OUTPUT))
   (port (rename dout_3_ "dout<3>") (direction OUTPUT))
   (port (rename dout_2_ "dout<2>") (direction OUTPUT))
   (port (rename dout_1_ "dout<1>") (direction OUTPUT))
   (port (rename dout_0_ "dout<0>") (direction OUTPUT))
   )
  (contents
   (instance B2 (viewRef view_1 (cellRef RAMS_3_8_u2_c0_r0)))
   (instance VCC (viewRef view_1 (cellRef VCC (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND (libraryRef xilinxun))))
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef addr_3_ (instanceRef B2))
    )
   )
   (net (rename N2 "addr<2>")
    (joined
      (portRef addr_2_)
      (portRef addr_2_ (instanceRef B2))
    )
   )
   (net (rename N3 "addr<1>")
    (joined
      (portRef addr_1_)
      (portRef addr_1_ (instanceRef B2))
    )
   )
   (net (rename N4 "addr<0>")
    (joined
      (portRef addr_0_)
      (portRef addr_0_ (instanceRef B2))
    )
   )
   (net (rename N5 "clk")
    (joined
      (portRef clk)
      (portRef clk (instanceRef B2))
    )
   )
   (net (rename N6 "din<7>")
    (joined
      (portRef din_7_)
      (portRef din_7_ (instanceRef B2))
    )
   )
   (net (rename N7 "din<6>")
    (joined
      (portRef din_6_)
      (portRef din_6_ (instanceRef B2))
    )
   )
   (net (rename N8 "din<5>")
    (joined
      (portRef din_5_)
      (portRef din_5_ (instanceRef B2))
    )
   )
   (net (rename N9 "din<4>")
    (joined
      (portRef din_4_)
      (portRef din_4_ (instanceRef B2))
    )
   )
   (net (rename N10 "din<3>")
    (joined
      (portRef din_3_)
      (portRef din_3_ (instanceRef B2))
    )
   )
   (net (rename N11 "din<2>")
    (joined
      (portRef din_2_)
      (portRef din_2_ (instanceRef B2))
    )
   )
   (net (rename N12 "din<1>")
    (joined
      (portRef din_1_)
      (portRef din_1_ (instanceRef B2))
    )
   )
   (net (rename N13 "din<0>")
    (joined
      (portRef din_0_)
      (portRef din_0_ (instanceRef B2))
    )
   )
   (net (rename N14 "dout<7>")
    (joined
      (portRef dout_7_)
      (portRef dout_7_ (instanceRef B2))
    )
   )
   (net (rename N15 "dout<6>")
    (joined
      (portRef dout_6_)
      (portRef dout_6_ (instanceRef B2))
    )
   )
   (net (rename N16 "dout<5>")
    (joined
      (portRef dout_5_)
      (portRef dout_5_ (instanceRef B2))
    )
   )
   (net (rename N17 "dout<4>")
    (joined
      (portRef dout_4_)
      (portRef dout_4_ (instanceRef B2))
    )
   )
   (net (rename N18 "dout<3>")
    (joined
      (portRef dout_3_)
      (portRef dout_3_ (instanceRef B2))
    )
   )
   (net (rename N19 "dout<2>")
    (joined
      (portRef dout_2_)
      (portRef dout_2_ (instanceRef B2))
    )
   )
   (net (rename N20 "dout<1>")
    (joined
      (portRef dout_1_)
      (portRef dout_1_ (instanceRef B2))
    )
   )
   (net (rename N21 "dout<0>")
    (joined
      (portRef dout_0_)
      (portRef dout_0_ (instanceRef B2))
    )
   )
   (net (rename N22 "en")
    (joined
      (portRef en)
      (portRef en (instanceRef B2))
    )
   )
   (net (rename N23 "we")
    (joined
      (portRef we)
      (portRef we (instanceRef B2))
    )
   )
)))
)
(design rams_3_8 (cellRef rams_3_8 (libraryRef test_lib))
  (property PART (string "XC3S700AN-5FG484C") (owner "Xilinx")))
)
