//! **************************************************************************
// Written by: Map M.53d on Wed May 28 01:16:44 2014
//! **************************************************************************

SCHEMATIC START;
COMP "JTAG_NEXUS_TDI" LOCATE = SITE "AA19" LEVEL 1;
COMP "JTAG_NEXUS_TCK" LOCATE = SITE "AF14" LEVEL 1;
COMP "JTAG_NEXUS_TDO" LOCATE = SITE "AC20" LEVEL 1;
COMP "JTAG_NEXUS_TMS" LOCATE = SITE "AB20" LEVEL 1;
COMP "TEST_BUTTON" LOCATE = SITE "AD12" LEVEL 1;
SCHEMATIC END;

